<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<title>Employee Directory</title>
	
</head>
<body>
<div class="container">
	<h3>Employee Directory</h3>
	<hr>
	<a th:href="@{/employees/showFormForAdd}"
	class="btn btn-primary btn-sm mb-3">Add employee</a>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.firstName}" />
				<td th:text="${employee.lastName}" />
				<td th:text="${employee.email}" />
				<td>
					<a th:href="@{/employees/showFormForUpdate(employeeId=${employee.id})}"
						class="btn btn-info btn-sm">
						Update</a>
					<a th:href="@{/employees/delete(employeeId=${employee.id})}"
						class="btn btn-danger btn-sm"
						onClick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
						Delete</a>
				</td>
			</tr>
		</tbody>
	
	</table>
	
</div>
</body>
</html>